In [1]:
lista = [1,2,3,4,5,6,7,8,9]

## Atividade 1

In [2]:

lista_par = []
for x in lista:
    if x%2 == 0:
        lista_par.append(x)

print(lista_par)

[2, 4, 6, 8]

## Atividade 2

In [3]:
def acha_numero_primo(numero):
    if numero < 2:
        return False
    for i in range(2, int(numero**0.5) + 1):
        if numero % i == 0:
            return False
    return True

lista_primos = []
for x in lista:
    if acha_numero_primo(x):
        lista_primos.append(x)
print(lista_primos)

[2, 3, 5, 7]

## Atividade 3

In [4]:
lista_1 = [1, 2, 3, 4, 5]
lista_2 = [6, 7, 8, 9, 10]

lista_concatenada = []

for x in lista_1:
    lista_concatenada.append(x)

for x in lista_2:
    lista_concatenada.append(x)

print(lista_concatenada)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

## Atividade 4

In [5]:
lista_copy = lista.copy()
maior_valor = max(lista_copy)
lista_copy.remove(maior_valor)
segundo_maior_valor = max(lista_copy)

print(segundo_maior_valor)

8

## Atividade 5

In [6]:
def ordenar_por_nome(lista_tuplas):
    return sorted(lista_tuplas, key=lambda x: x[0])

lista_tuplas = [('João', 25), ('Maria', 22), ('Ana', 30), ('Pedro', 20)]
lista_ordenada = ordenar_por_nome(lista_tuplas)
print(lista_ordenada)

[('Ana', 30), ('João', 25), ('Maria', 22), ('Pedro', 20)]

## Atividade 6

In [ ]:
import pandas as pd

def remover_outliers_desvio_padrao(serie):
    media = serie.mean()
    desvio = serie.std()
    return serie[(serie > media - 3*desvio) & (serie < media + 3*desvio)]

def remover_outliers_quartis(serie):
    q1 = serie.quantile(0.25)
    q3 = serie.quantile(0.75)
    iqr = q3 - q1
    return serie[(serie >= q1 - 1.5*iqr) & (serie <= q3 + 1.5*iqr)]

In [20]:
dados = pd.Series([10, 12, 12, 13, 12, 11, 14, 100, 105, 13, 12, 11])

# Removendo outliers pelo desvio padrão
sem_outliers_dp = remover_outliers_desvio_padrao(dados)
print("Sem outliers (desvio padrão):")
print(sem_outliers_dp)

# Removendo outliers pelo método dos quartis
sem_outliers_quartis = remover_outliers_quartis(dados)
print("\nSem outliers (quartis):")
print(sem_outliers_quartis)

Sem outliers (desvio padrão):
0      10
1      12
2      12
3      13
4      12
5      11
6      14
7     100
8     105
9      13
10     12
11     11
dtype: int64

Sem outliers (quartis):
0     10
1     12
2     12
3     13
4     12
5     11
6     14
9     13
10    12
11    11
dtype: int64

## Atividade 7

In [8]:
df1 = pd.DataFrame({'A': [1, 2], 'B': [3, 4]})
df2 = pd.DataFrame({'A': [5, 6], 'C': [7, 8]})

df_linhas = pd.concat([df1, df2], axis=0, ignore_index=True)

df_colunas = pd.concat([df1, df2], axis=1)

print(df_linhas)
print(df_colunas)

   A    B    C
0  1  3.0  NaN
1  2  4.0  NaN
2  5  NaN  7.0
3  6  NaN  8.0
   A  B  A  C
0  1  3  5  7
1  2  4  6  8

## Atividade 8

In [9]:
import pandas as pd
import seaborn as sns

df_car_crashes = sns.load_dataset('car_crashes')

df_car_crashes.head(5)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
4,12.0,4.200,3.360,10.920,10.680,878.41,165.63,CA

## Atividade 9

In [10]:
df_car_crashes.describe()

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses
count,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000,51.000000
mean,15.790196,4.998196,4.886784,13.573176,14.004882,886.957647,134.493137
std,4.122002,2.017747,1.729133,4.508977,3.764672,178.296285,24.835922
min,5.900000,1.792000,1.593000,1.760000,5.900000,641.960000,82.750000
25%,12.750000,3.766500,3.894000,10.478000,11.348000,768.430000,114.645000
50%,15.600000,4.608000,4.554000,13.857000,13.775000,858.970000,136.050000
75%,18.500000,6.439000,5.604000,16.140000,16.755000,1007.945000,151.870000
max,23.900000,9.450000,10.038000,23.661000,21.280000,1301.520000,194.780000

In [11]:
df_car_crashes[df_car_crashes['alcohol'] > 4.0].head(5)

,total,speeding,alcohol,not_distracted,no_previous,ins_premium,ins_losses,abbrev
0,18.8,7.332,5.640,18.048,15.040,784.55,145.08,AL
1,18.1,7.421,4.525,16.290,17.014,1053.48,133.93,AK
2,18.6,6.510,5.208,15.624,17.856,899.47,110.35,AZ
3,22.4,4.032,5.824,21.056,21.280,827.34,142.39,AR
7,16.2,6.156,4.860,14.094,16.038,1137.87,151.48,DE

## Atividade 10

In [14]:
df_car_crashes.isna().sum()

## Nesse dataset não há valores ausentes, então não é necessário fazer tratamento de NaN.

total             0
speeding          0
alcohol           0
not_distracted    0
no_previous       0
ins_premium       0
ins_losses        0
abbrev            0
dtype: int64

In [15]:
## olahndo outro dataset
df_titanic = sns.load_dataset('titanic')
df_titanic.head(5)
df_titanic.describe()
df_titanic.isna().sum()

survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [17]:
## Podemos substituir os valores ausentes, pela média, ou pela moda, ou retirar as linhas com valores ausentes.
## Vou substituir os valores ausentes da coluna 'age' pela moda da coluna, ja que idade é um dado discreto.
df_titanic['age'] = df_titanic['age'].fillna(df_titanic['age'].mode()[0])
df_titanic.isna().sum()

survived         0
pclass           0
sex              0
age              0
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

In [18]:
## Tratando a coluna de 'deck', que é uma coluna categórica, podemos substituir os valores ausentes pela moda da coluna.
df_titanic['deck'] = df_titanic['deck'].fillna(df_titanic['deck'].mode()[0])
df_titanic.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       2
class          0
who            0
adult_male     0
deck           0
embark_town    2
alive          0
alone          0
dtype: int64

In [19]:
##  E podemos remover as linhas nulas de 'embark town' e da 'embarked' pois sao somente 2 linhas nulas.
df_titanic = df_titanic.dropna(subset=['embark_town', 'embarked'])
df_titanic.isna().sum()

survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
deck           0
embark_town    0
alive          0
alone          0
dtype: int64